* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: 'Oswald', sans-serif;
    background-color: #f7f8f3;
}

ul {
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.uk-modal.uk-open {
    padding-top: 200px;
    @media screen and (min-width: 576px) {
        padding-top: 200px;
    }
    @media screen and (min-width: 768px) {
        padding-top: 200px;
    }
    @media screen and (min-width: 1024px) {
        padding-top: 200px;
    }
    @media screen and (min-width: 1280px) {
        padding-top: 200px;
    }
    @media screen and (min-width: 1440px) {
        padding-top: 100px;
    }
    @media screen and (min-width: 1660px) {
        padding-top: 100px;
    }
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}